{% extends 'base.html' %}

{% block content %}
	<h1>Tableau de bord du {{ vos_var }}</h1>
<div class='row'>Le mot du SecGen : merci de préparer votre première remise de chèques DÈS VOTRE RETOUR SUR LE PLATÂL, elle sera encaissée vendredi 13 septembre.</div>
<table class='table table-bordered table-condensed'>
<tr>
<th>Promo</th>
<th>Nom</th>
<th>Prénom</th>
<th>Entrées</th>
<th>Prix du VOS</th>
<td><a href="/vos/subvention/banque">Subvention banque</a></td>
<td><a href="/vos/subvention/3A">Subvention 3A</a></td>
	{# on récupère la vue générée par la vue générique listView #}
	{% for cheque in liste_cheques %}
		<td>
			<a href={{ cheque.get_cheque_numero }}>Chèque n°{{ cheque.numero }}</a>


		</td>
	{% endfor %}
<td>Remboursement</td>
</tr>

{% for p in liste_encaissements %}
<tr>
<td>{{ p.0 }}</td>
<td>{{ p.1 }}</td>
<td>{{ p.2 }}</td>
<th>{{ p.3 }}</th>
<th>{{ p.4 }}</th>
<td>?</td>
<td>?</td>
	{# on récupère la vue générée par la vue générique listView #}
	{% for cheque_perso in p.5 %}
		<td>
			{{ cheque_perso }}
		</td>
	{% endfor %}
<td><a href={{ p.7 }}>{{ p.6 }}</a></td>
</tr>
{% endfor %}

<tr>
<th colspan="3" class="txtdroite">TOTAL :</th>
<th class='encadre'>{{ total_general }}</th>
<th class='encadre'>{{ total_general1 }}</th>
</tr>
</table>

<div class='row txtcentre'>
<a href='/vos/liste'>Liste des participants</a> - 
<a href='/vos/cheque'>Ajouter un chèque</a>
</div>
{% endblock %}
