{% extends 'base.html' %}
{% load static %}

{% block content %}
	<h1>Définir les participants au {{ vos_var }}</h1>
<table class='table table-bordered'>
<tr>
<th><div class='title-order-container'><div>Promo</div><a href='{{ ordering_links.pop }}'><img class='order-icon' src="{% static 'img/order.ico' %}" alt="Order Icon" title="Ordonner par promotion"/></a></div></th>
<th><div class='title-order-container'><div>Section</div><a href='{{ ordering_links.pop }}'><img class='order-icon' src="{% static 'img/order.ico' %}" alt="Order Icon" title="Ordonner par section"/></a></div></th>
<th><div class='title-order-container'><div>Nom</div><a href='{{ ordering_links.pop }}'><img class='order-icon' src="{% static 'img/order.ico' %}" alt="Order Icon" title="Ordonner par nom"/></a></div></th>
<th><div class='title-order-container'><div>Prénom</div><a href='{{ ordering_links.pop }}'><img class='order-icon' src="{% static 'img/order.ico' %}" alt="Order Icon" title="Ordonner par prenom"/></a></div></th>
<th></th>
</tr>
{% for eleve in participe %}
<tr>
<th>{{ eleve.1 }}</th>
<td>{{ eleve.2 }}</td>
<td>{{ eleve.3 }}</td>
<td>{{ eleve.4 }}</td>
<td class='txtcentre'>
<form method='post' action='liste'>
	{% csrf_token %}
	{{ form.as_p }}
	<input type='hidden' name='eleve' value={{eleve.5}} />
	{% if eleve.0 %}
		<input type='submit' name = 'submit' class='btn btn-danger' value='Retirer' />
	{% else %}
		<input type='submit' name = 'submit' class='btn btn-primary' value='Ajouter' />
	{% endif %}
</form>
</td>
</tr>
{% endfor %}
</table>
<br/>
<div class='row txtcentre'>
</div>
{% endblock %}
